body {
    margin: 0;
    font-family: Arial, sans-serif;

    background: url("image/burger logo.webp");
    background-size: cover;
    background-size: 90%;
background-repeat: no-repeat;
background-position: top center;
}

.navbar-container {
    background: #310707;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    color: white;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #00c3ff;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.3s ease;
}

.nav-links li a:hover {
    background-color: #444;
}

.active {
    background-color: #183f4b;
    color: #000000;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.notification {
    margin: 20px;
    font-weight: bold;
}

/* Mobile Sidebar */
@media (max-width: 768px) {

    .nav-links {
        position: fixed;
        top: 0;
        left: -250px; /* hidden off screen */
        height: 100vh;
        width: 103px;
        background: #310707;
        flex-direction: column;
        padding-top: 70px;
        gap: 25px;
        transition: left 0.3s ease;
    }

    .nav-links.show {
        left: 0; /* slides in */
    }

    .hamburger {
        display: block;
        z-index: 1001;
    }
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav-links li {
    text-align: center;
}